@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b0b0b0 ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
  }


html {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

/* amountSaved input styling -----------------------------------*/
.amountSaved-container {
    box-sizing: border-box;
    width: 10.7rem;
    height: 3.32rem;
    background: linear-gradient(94.87deg, rgba(232, 232, 232, 0.4) 0.89%, rgba(230, 230, 230, 0.25) 100%);
    
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;

    font-size: 1.32rem;
    padding: 0.75rem;
    margin: 0.25rem;

    color: white;
}

.amountSaved-container:focus {
    outline: none;
}

.amountSaved-container::placeholder {
    color: rgb(180, 180, 180);
    font-family: "Poppins";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 450px) {
    .amountSaved-container {
        height: 2.25rem;
        width: 8.125rem;
        font-size: 1.0625rem;
        padding: 0.5rem;
        margin: 0.25rem;
    }  
    
    .amountSaved-container input {
        font-size: 1.0625rem;
    }
  }

/*  -----------------------------------*/
/* dateInput input styling -----------------------------------*/

.dateInput {
    box-sizing: border-box;

    width: 10.7rem;
    height: 3.32rem;

    background: linear-gradient(94.87deg, rgba(232, 232, 232, 0.4) 0.89%, rgba(230, 230, 230, 0.25) 100%);
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);

    font-size: 1.32rem;
    padding: 0.75rem;
    margin: 0.25rem;
    color: white;
    outline: none;

}

.dateInput option {
    background-color: white;
    color: black;
}

@media (max-width: 450px) {
    .dateInput {
        height: 2.25rem;
        width: 8.125rem;
        font-size: 1.0625rem;
        padding: 0.5rem;
        margin: 0.25rem;
    }  
    
  }

/*  -----------------------------------*/
/* tickerInput input styling -----------------------------------*/
.tickerInput-container {
    box-sizing: border-box;
    width: 22.75rem;
    height: 3.32rem;
    background: linear-gradient(94.87deg, rgba(232, 232, 232, 0.4) 0.89%, rgba(230, 230, 230, 0.25) 100%);
    
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;

    display: flex;
    align-items: center;

    font-size: 1.32rem;
    padding: 0.75rem;

    color: white;
    margin-bottom: 0px;

    transition: all 200ms ease-in-out;
}

.tickerInput-container input {
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    background: none;
    border: none;
    color: white;

    transition: all 200ms ease-in-out;
}

.search-icon {
    height: 1rem;
    width: 1rem;
    padding-right: 0.5rem;
}

.search-bar-x-btn {
    height: 1rem;
    width: 1rem;
    transition: all 200ms ease-in-out;

}

.search-bar-x-btn:hover {
    cursor: pointer;
}

.tickerInput-container input::placeholder {
    color: rgb(180, 180, 180);
    font-size: 1.125rem;
    font-family: "Poppins";
}

.tickerInput-container input:focus {
    outline: none;
} 

@media (max-width: 400px) {
    .tickerInput-container {
        height: 2.875rem;
        width: 21.5rem;
    }

    .tickerInput-container input {
        font-size: 1rem;
    }

    .tickerInput-container input::placeholder {
        font-size: 1rem;
    }
  }

  @media (max-width: 350px) {
    .tickerInput-container {
        width: fit-content;
        font-size: 1rem;
    }

    .tickerInput-container input {
        font-size: 1rem;
    }

    .tickerInput-container input::placeholder {
        font-size: 1rem;
    }
}

/*  -----------------------------------*/
/* TickerInput dropdown styling -----------------------------------*/

.dropdown {
    background-color: white;
    width: 22.75rem;
    height: 15rem;
    margin-top: 0.25rem;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 8px;
    position: absolute;
}

.dropdown-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid rgba(62, 62, 62, 0.272);
    border-bottom: 1px solid rgba(62, 62, 62, 0.272);
    transition: all 200ms ease-in-out;
}

.dropdown-result:hover {
    background-color: rgb(223, 223, 223);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.dropdown-name-text {
    font-size: 0.9rem;
    padding: 0rem 1rem;
}

.dropdown-ticker-text {
    font-size: 0.9rem;
    font-weight: bold;
}

.dropdown-company-logo {
    max-height: 4rem;
    max-width: 4rem;
    height: fit-content;
    width: fit-content;
    aspect-ratio: retain;
}

@media (max-width: 350px) {
    .dropdown {
        width: fit-content;
        font-size: 1rem;
    }
}

/*  -----------------------------------*/
/* selected stocks list styling -----------------------------------*/

.selected-stocks-container {
    max-width: 22.75rem;
    min-height: 5.94rem;
    margin: 1rem 0rem;
    display: flex;
    overflow-x: scroll;
    
}

.selected-stocks-container-empty {
    max-width: 22.75rem;
    min-height: 5.94rem;
    margin: 1rem 0rem;
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
}

.selected-stocks-item {
    min-height: 5.94rem;
    min-width: 4.84rem;
    margin-top: 0rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    color: black;
    background-color: white;
    border: 1px solid white;
    transition: all 200ms ease-in-out;

}

.selected-stocks-item-empty {
    min-height: 5.94rem;
    min-width: 4.93rem;
    margin-top: 0rem;
    margin-right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    color: black;
    background: linear-gradient(145.38deg, rgba(234, 234, 234, 0.6) 0%, rgba(240, 240, 240, 0.35) 100.07%);
    border: 1px solid white;
}

.plus-btn {
    color: white;
}

.selected-stocks-item-close-btn {
    align-self: flex-end;
    padding-right: 0.35rem;
}

.selected-stocks-item-close-btn:hover {
    cursor: pointer;
}

.selected-stocks-item img {
    height: 3rem;
    width: 3rem;
    object-fit: contain;
}

.selected-stocks-item p {
    font-size: 0.75rem;
    margin: 0rem;
}

/*  -----------------------------------*/
/* home page styling -----------------------------------*/

.home-page {
    height: 100vh;
    position: relative;
}

.hero-content {
    z-index: 100;
}

.home-page-bg-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    filter:blur(30px);
}

.hero-content-components {
    margin: 5%;
}

.hero-content-components-main-text h1 {
    color: white;
    font-size: 3.875rem;
    font-weight: 300;
    margin: 0;
}

.hero-content-components-main-text h2 {
    color: white;
    font-size: 1.125rem;
    font-weight: 200;
    margin: 1rem 0rem;
}

.hero-content-components-main-text hr {
    width: 21.82rem;
    margin-left: 0;
    opacity: 10%;
}

.hero-content-components-data-input {
    max-width: 43rem;
}

.hero-content-components-data-input hr {
    width: 21.82rem;
    margin-left: 0;
    opacity: 10%;
}

.hero-content-components-data-input-text {
    color: white;
    font-size: 1.3125rem;
    font-weight: 300;
    margin: 1rem;
    
}

.hero-content-search h4 {
    color: white;
    font-size: 1.125rem;
    font-weight: 200;
    margin: 1rem 0rem;
}

.submit-button {
    height: 2.875rem;
    width: 22.75rem;

    box-sizing: border-box;

    background: linear-gradient(90.83deg, rgba(230, 230, 230, 0.29) 0%, rgba(217, 217, 217, 0.23) 100%);
    border-radius: 8px;

    border: 1px solid rgb(200, 200, 200);

    font-size: 1.125rem;
    color: white;
    font-weight: 300;
    font-family: "Poppins";
    transition: all 150ms ease-in-out;

}

.submit-button:hover {
    background-color: white;
    color: black;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

@media (max-width: 650px) {
    .hero-content {
        margin-top: 4.25rem;
    }

    .hero-content-components-main-text h1 {
        font-size: 1.70rem;
    }
    .hero-content-components-main-text h2 {
        font-size: 1rem;
    }
    .hero-content-components-data-input h4 {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 1.0625rem;
        width: fit-content;
    }

    .hero-content-search h4 {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .submit-button {
        width: 21.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .submit-button {
        width: fit-content;
        font-size: 1rem;
    }
}


/*  -----------------------------------*/
/* navbar styling styling -----------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.125rem;
    width: 100vw;
    margin: 0rem;
    padding: 0rem 5%;
    color: white;


    box-sizing: border-box;
    background: linear-gradient(90.12deg, rgba(240, 240, 240, 0.18) 1.14%, rgba(233, 233, 233, 0.03) 100%);
    border: 1px solid rgba(226, 226, 226, 0.06);
}

.navbar h1 {
    font-weight: 300;
    font-size: 1.25rem;
}

@media (max-width: 650px) {
    .navbar {
        align-items: center;
        justify-content: center;
    }
}

