
.result-page {
    margin: 0 5%;

    
}

/*  -----------------------------------*/
/* Result page header text styling*/


.result-text h1 {
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

@media (max-width: 1050px) {
    .result-text h1 {
        font-size: 1.3125rem;
    }
}
/*  -----------------------------------*/
/* Main result container styling, line chart included with the result text*/

.primary-result-container {
    background-color: #171717;
    width: 100%;
    height: 55vh;
    color: white;
    border-radius: 10px;

    display: flex;
}

.primary-result-line-chart {
    width: 80%;
    height: 100%;

}

.result-main-text-container {
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-main-text-container h4 {
    font-size: 1.40625rem;
    font-weight: 300;
    margin: 0rem;

}

.result-amount-text {
    font-size: 1.9375rem;
    margin: 0rem;
    font-weight: 300;
}

.result-pl {
    font-size: 0.890625rem;
    margin-top: 0.25rem;
    font-weight: 300;
}

.result-selected-stocks-text {
    font-size: 1rem;
    margin-bottom: 0rem;
    font-weight: 300;
}




.result-selected-stocks-container {
    max-width: 16.45rem;
    min-height: 5.94rem;
    margin: 1rem 0rem;
    display: flex;
    overflow-x: scroll;
    
}

.result-selected-stocks-item {
    max-width: 3.2625rem;
    max-height: 3.9375rem;
    margin-top: 0rem;
    margin-right: 0.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    border-radius: 8px;

    color: black;
    background-color: white;
    border: 1px solid white;
    transition: all 200ms ease-in-out;

}

.result-selected-stocks-item img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;

    border-radius: 10px;
}

.result-selected-stocks-item p {
    font-size: 0.6rem;
    margin: 0rem;
    margin-top: 0.25rem;
}

@media (max-width: 1050px) {
    .primary-result-container {
        flex-direction: column-reverse;

        width: 100%;
        height: 50%;
    }

    .result-main-text-container {
        width: 90%;
        padding: 1rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .primary-result-line-chart {
        width: 100%;
        height: 250px;
    
    }

    .result-selected-stocks-container {
        max-width: 24rem;
    }

    .result-main-text-container h4 {
        font-size: 1.0625rem;
        font-weight: 200;
    }

    .result-amount-text {
        font-size: 1.6875rem;
        font-weight: 300;
    }

    .result-pl {
        font-size: 0.75rem;
        font-weight: 200;
    }

    .result-selected-stocks-text {
        font-size: 0.875rem;
        font-weight: 200;
    }
}

/*  -----------------------------------*/
/* Result page secondary container styling, this container houses investment performance and pie chart components*/

.result-secondary-container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
}

@media(max-width: 1050px) {
    .result-secondary-container {
        flex-direction: column;
    }
}


/*  -----------------------------------*/
/* investment performance container styling*/

.result-investment-performance-container {

    background-color: #171717;
    border-radius: 10px;
    height: 55vh;
    width: 75%;
    overflow: scroll;
    overflow-x: hidden;

    margin-right: 1rem;
}

.result-investment-performance-container h4 {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1rem;

    margin: 1.5rem 1.5rem;

    border-bottom: 1px solid rgba(215, 215, 215, 0.1);
}

.line-chart {
    width: 80%;
}

.individual-stock-result {
    border-bottom: 1px solid rgba(215, 215, 215, 0.1);
    display: flex;
    height: 4.5rem;
    padding: 1rem;
    width: 90%;

    justify-content: flex-start;

    margin: 1.5rem 1.5rem;
}


.result-single-stocks-item {
    max-width: 3.2625rem;
    max-height: 3.9375rem;
    margin-top: 0rem;
    margin-right: 0.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    border-radius: 8px;

    color: black;
    background-color: none;
    transition: all 200ms ease-in-out;

}

.result-single-stocks-item img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;

    border-radius: 10px;
}

.result-single-stocks-item p {
    font-size: 0.6rem;
    margin: 0rem;
    margin-top: 0.25rem;
    color: white;
}

.result-single-stock-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.result-single-stock-details p {
    margin: 0;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 200;

    color: white;
}

@media (max-width: 1050px) {
    .result-investment-performance-container {
        width: 100%;
    }

    .individual-stock-result {
        margin: 0;
    }

    .line-chart {
        width: 35%;
        max-height: 3rem;
    }

    .result-single-stocks-item {
        max-width: 2rem;
        max-height: 3rem;
    }

    .result-single-stock-details p {
        font-size: 0.8rem;
    }
}


/*  -----------------------------------*/
/* pie chart container styling*/

.result-pie-chart-container {
    background-color: #171717;
    border-radius: 10px;
    height: 55vh;
    width: 40%;

    margin-left: 1rem;
}