.result-page {
    margin: 0 5%;
}

.primary-result-container {
    background-color: #171717;
    width: 100%;
    height: 55vh;
    color: white;
    border-radius: 10px;

    display: flex;
}

.primary-result-line-chart {
    width: 80%;
    height: 100%;

    border: 1px solid white;
}

.result-main-text {
    width: 20%;
    border: 1px solid white;
}

.result-main-text h4 {
    font-size: 1.40625rem;
    font-weight: 300;

}