@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #20262D;
}

.nav-bar {
    border: 1px solid #222326;
    background-color: #222326;
}

.logo {
    margin: 1% 7%;
    font-weight: 400;
}

.hero-content {
    margin: 3% 7%;
    display: flex;
    flex-direction: column;

}

.hero-content h1, h3 {
    font-weight: 400;
    padding: 0%;
}

.hero-content hr {
    width: 25%;
    margin-left: 0%;
    opacity: 20%;
}

.hero-main-text {
    font-size: 3.5rem;
    margin: 1% 0%;
    
}

.input-text {
    font-weight: 400;
    font-size: 1.5rem;
}

.heroInput {
    background-color: #202020;
    color: white;
    border: 0px;
    padding: 0.75%;
    margin: 0.75%;
    border-radius: 8px;
    font-family: poppins;
    font-weight: 400;
    font-size: 1rem;
}

.tickerInput {
    background-color: #202020;
    color: white;
    border: 0px;
    padding: 0.75%;
    border-radius: 8px;
    font-family: poppins;
    font-weight: 400;

}

.ticker-box {
    background-color: white;
    color: black;
    width: max-content;
    padding: 10px;
    margin: 10px;
}